<div class="bike-container">
  <div class="bike-card">
    <%= render partial: "common/bike", locals: { bike: @bike } %>
    <%= form_with url: bookings_path, local: false, class: "booking-form" do |form| %>
        <%= form.hidden_field :bike_id, value: @bike.id %>
      <div>
        <%= form.label :user_full_name, "Enter your name" %>
        <%= form.text_field :user_full_name %>
      </div>
      <div>
        <%= form.label :date, "Pick a date" %>
        <%= form.date_field :date, min: Date.today, value: Date.today %>
      </div>
      <div>
        <%= form.submit "Book", class: "book-button" %>
      </div>
    <% end %>
    <div class="booking-confirmation">
    </div>
  </div>
</div>
