<div class="bike-container">
  <div class="bike-card">
    <div class="bike-image-image" style='background-image: url("<%= asset_url(@bike.image_name) %>")'>
    </div>
    <div class="bike-info">
      <h4><%= @bike.name.capitalize %></h4>
      <h6><%= @bike.description&.capitalize %></h6>
      <h6><%= number_to_currency(@bike.price_per_day) %> per day</h6>
      <%= button_tag "Book for today", class: "bike-button"%>
    </div>
  </div>
</div>
